:root {
  font-family: system-ui;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  width: 100%;

}

.navbar {
  display: flex;
  background: #03ce5a;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

.page-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.navbar-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  flex: 1;
  padding: 2rem 0;
  background-color: #000823;
}

main h2 {
  color: #ffffff;

}

.search-section {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 1rem 2rem;
}

.search-section h2 {
  margin: 1rem;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  gap: 5px;
}

.search-bar input {
  width: 350px;
  height: 100%;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  padding: 0 0 0 10px;
}

.search-bar input {
  outline: none;
}

.search-bar button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  height: 100%;
  cursor: pointer;
  background-color: #03ce5a;
}

.search-bar button:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  box-shadow: 1.5px 1.5px 2px #03ce5b74;
}

.character-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  border: 2px solid #000;
  border-radius: 30px;
  background:
    linear-gradient(135deg, #03d903, #f5e963, #6ef96e, #f5e963, #6ef96e, #f5e963, #03d903);
  min-width: 0;
  /* Permite que el contenido se ajuste */
}

/* Responsive para las cartas individuales */
@media (max-width: 768px) {
  .character-container {
    flex-direction: column;
    padding: 1rem;
    text-align: center;
  }

  .character-image {
    border-radius: 30px !important;
    width: 150px !important;
  }

  .character-image-container {
    height: 150px !important;
  }
}

.character-container h3,
h4 {
  margin: 0;
}

.character-info-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.character-image-container {
  border: none;
  height: 200px;
}

.character-image {
  width: 200px;
  height: auto;
  border-radius: 30px 0 0 30px;
}


.characters-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, auto);
  gap: 50px;
}



footer {

  padding: 1.5rem;
  background: #1b2394;
}

.profile-link {
  color: #ffffff;
  text-decoration: none;
}